@use "sass:map";

.alert {
    padding: map.get($spacers, 3);
    background-color: $light;
    color: $black;

    * {
        &::selection {
            background-color: $light;
            color: $black;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@each $color, $value in $theme-colors {
    .alert-#{$color} {
        background-color: $value;
        color: map.get($colors-contrast, $color);

        * {
            &::selection {
                background-color: map.get($colors-contrast, $color);
                color: $value;
            }
        }
    }
}
