@use "sass:map";
@use "sass:math";

.form-floating {
    > label {

    }

    > .form-control,
    > .form-control-plaintext{

    }

    > .form-control:focus,
    > .form-control:not(:placeholder-shown),
    > .form-control-plaintext,
    > .form-select {
        ~ label {
            //font-size: $small-font-size;

            &::after {
                //background-color: transparent;
                height: 1.3rem
            }
        }
    }

    textarea {
        padding-top: 1.17rem!important;
    }
}


.input-fieldset {
    border: none;
    margin: 0;
    padding: 0;

    $input-height: 3rem;
    $muted-color: $gray-600;
    $main-color: $dark;
    $password-reveal-width: 2rem;

    .input-span {
        display: inline-block;
        position: relative;
        vertical-align: top;
        width: 100%;

        .input-field {
            position: relative;
            width: 100%;
            padding: 0 map.get($spacers, 2);
            height: $input-height;
            background-color: $white;
            border: $border-width solid $border-color;
            border-radius: $border-radius;
            color: $muted-color;
            outline: none;

            &::placeholder {
                color: $white;
                transition: .2s ease color;
            }

            &:focus {
                border: $border-width solid $primary;

                &::placeholder {
                    color: $muted-color;
                }
            }
        }

        .input-label {
            position: absolute;
            color: $main-color;
            pointer-events: none;
            left: map.get($spacers, 2);
            width: 100%;
            line-height: $input-height;
            transition: .2s ease all;
        }

        &.has-value {
            .input-field {
                padding-top: .75rem;
            }

            .input-label {
                line-height: 1.5rem;
                font-size: .75rem;
                color: $muted-color;
            }
        }

        &.is-password {
            .input-field {
                padding-right: $password-reveal-width + map.get($spacers, 2);
            }
        }
    }

    .password-reveal {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: map.get($spacers, 2);
        background: transparent;
        color: $muted-color;
        border: none;
        width: $password-reveal-width;
    }

    .feedback {
        display: block;
        font-size: .75rem;
        margin-top: .25rem;
    }

    &.is-invalid {
        .input-field {
            border: $border-width solid $danger;

            &:focus {
                border: $border-width solid $danger;
            }
        }

        .input-label {
            color: $danger !important;
        }

        .feedback {
            color: $danger;
        }
    }

    &.is-valid {
        .input-field {
            border: $border-width solid $success;

            &:focus {
                border: $border-width solid $success;
            }
        }

        .input-label {
            color: $success !important;
        }

        .feedback {
            color: $success;
        }
    }
}

.textarea-fieldset {
    border: none;
    margin: 0;
    padding: 0;

    $line-height: 3rem;
    $muted-color: $gray-600;
    $main-color: $dark;

    .textarea-span {
        display: inline-block;
        position: relative;
        vertical-align: top;
        width: 100%;

        .textarea-field {
            position: relative;
            width: 100%;
            min-height: 3rem;
            padding: 1.1rem map.get($spacers, 2) 0;
            background-color: $white;
            border: $border-width solid $border-color;
            border-radius: $border-radius;
            color: $muted-color;
            outline: none;

            &::placeholder {
                color: $white;
                transition: .2s ease color;
            }

            &:focus {
                border: $border-width solid $primary;

                &::placeholder {
                    color: $muted-color;
                }
            }
        }

        .textarea-label {
            position: absolute;
            color: $main-color;
            pointer-events: none;
            left: map.get($spacers, 2);
            width: 100%;
            line-height: $line-height;
            transition: .2s ease all;
        }

        &.has-value {
            .textarea-label {
                line-height: 1.5rem;
                font-size: .75rem;
                color: $muted-color;
            }
        }
    }

    &.is-invalid {
        .textarea-field {
            border: $border-width solid $danger;

            &:focus {
                border: $border-width solid $danger;
            }
        }
    }

    .invalid-feedback {
        display: block;
        color: $danger;
        font-size: .75rem;
        margin-top: .25rem;
    }
}

