@use "../base";

.bg-primary {
    background-color: var(--primary);
    color: white;
}

.bg-white {
    background-color: var(--white);
    color: var(--black);
}

.bg-light {
    background-color: var(--light);
    color: var(--black);
}

.shadows {
    box-shadow: -8px 8px 0px var(--primary);
}
