@use "../base";
// Navbar
.navbar {
    // Variables
    $polygon-margin: 0.5rem;
    $padding-height: .75rem;
    $padding-width: 1rem;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .75);
    border-bottom: $primary base.$border-width solid;
    backdrop-filter: blur(base.$blur-radius);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    font-family: "Proxima Nova Bold", sans-serif;
    font-weight: lighter;
    color: $white;

    .top-bar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: $padding-height $padding-width;
        height: calc($padding-height * 2 + 1.5rem);

        * {
            height: 100%;
        }
    }

    .desktop {
        display: none;
        @include base.breakpoint("desktop-up") {
            display: flex;
        }

        .left-part {
            display: flex;
            align-items: center;

            .logo {
                margin-right: $polygon-margin*2;
            }
        }

        .nav-link {
            color: $white;

            .link-container {
                margin: 0 $polygon-margin*2;
            }

            &:hover {
                background-color: $primary;
                clip-path: polygon($polygon-margin 0%, 100% 0%, calc(100% - $polygon-margin) 100%, 0% 100%);

            }

            &.active {
                background-color: $white;
                color: $primary;
                clip-path: polygon($polygon-margin 0%, 100% 0%, calc(100% - $polygon-margin) 100%, 0% 100%);
            }
        }
    }

    .mobile {
        display: flex;
        flex-direction: column;
        align-items: center;

        .top-bar {
            display: flex;
            padding: $padding-height 0;

            button {
                font-size: 1.25rem;
            }
        }

        .nav-links {
            display: none;
            flex-direction: column;
            align-items: flex-start;
            font-size: 1.25rem;
            width: 100%;

            &.open {
                display: flex;
            }

            .nav-link {
                margin: $polygon-margin 0;

                &.active {
                    color: $primary;
                }
            }

            .search {
                display: flex;
                width: 100%;
                margin: $polygon-margin 0;
                border-top: base.$border-width solid $white;

                input {
                    width: auto !important;
                    flex-grow: 1;
                }
            }
        }

        @include base.breakpoint("desktop-up") {
            display: none;
        }
    }

    .search {
        button {
            margin: 0 $polygon-margin*2;
        }

        &:hover {
            input {
                width: 15rem;
                border-bottom: base.$border-width solid $white;
            }
        }

        input {
            color: $white;
            background-color: transparent;
            border: none;
            padding: .5rem 0;
            width: 5.5rem;
            transition: width .5s;

            &:focus {
                outline: none;
                box-shadow: none;
                border-bottom: base.$border-width solid $primary;
                width: 15rem;
            }
        }
    }
}

// Fin navbar
