// scss-docs-start color-variables
$orange: #F78E57;
// scss-docs-end color-variables

// scss-docs-start theme-color-variables
$primary: $orange;
$dark: #242423;
$light: #e5e7eb;
$accented-white: #E8EDDF;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
    "primary": $primary,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "white": $white,
    "dark": $dark
);

$colors-contrast: (
    "primary": $white,
    /*"secondary": $white,
    "success": $white,
    "info": $white,*/
    "warning": $white,
    "danger": $white,
    "dark": $white,
    "light": $black,
    "white": $primary,
    "black": $white
);
// scss-docs-end theme-colors-map

// Couleurs hover
$primary-hovered: darken(desaturate($primary, 15), 12.55);
$warning-hovered: darken($warning, 12.55);
$danger-hovered: darken($danger, 12.55);
$dark-hovered: lighten(desaturate(adjust-hue($dark, -60), 1.41), 42.94);
$light-hovered: darken($light, 10%);

$colors-hovered: (
    "primary": $primary-hovered,
    /*"secondary": $secondary-hovered,
    "success": $success-hovered,
    "info": $info-hovered,*/
    "warning": $warning-hovered,
    "danger": $danger-hovered,
    "dark": $dark-hovered,
    "light": $light-hovered,
    "white": $light,
    "black": $black
);


// Components
//
// Define common padding and border radius sizes and more.

// scss-docs-start border-variables
$border-width: .1rem;
$border-widths: (
    1: $border-width,
    2: $border-width * 2.5,
    3: $border-width * 3,
    4: $border-width * 4,
    5: $border-width * 5
);

$border-color: $light;
// scss-docs-end border-variables

// scss-docs-start border-radius-variables
$border-radius: .25rem;
// scss-docs-end border-radius-variables

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: "Proxima Nova", sans-serif !important;
