@use "sass:map";

.breadcrumb {
    height: 3rem;
    display: flex;
    align-items: center;
    gap: map.get($spacers, 3);
    color: $gray-500;
    font-size: 0.875rem;
    background-color: $dark;
    padding: map.get($spacers, 2) map.get($spacers, 3);
    border-bottom: .125rem solid $primary;

    a {
        color: $gray-500;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .links {
        display: flex;
        align-items: center;
        gap: map.get($spacers, 2);
    }
}
