@use "sass:map";

$breadcrumb-height: 3rem;
.breadcrumb {
    position: absolute;
    width: 100%;
    height: $breadcrumb-height;
    display: flex;
    align-items: center;
    gap: map.get($spacers, 3);
    color: $gray-500;
    font-size: 0.875rem;
    background-color: $white;
    padding: map.get($spacers, 2) map.get($spacers, 3);
    border-bottom: $border-width solid $border-color;
    z-index: 500;

    a {
        text-decoration: none;


    }

    .links {
        display: flex;
        align-items: center;
        gap: map.get($spacers, 2);

        .elem {
            color: $gray-600;
            text-decoration: none;

            &.active {
                color: $dark;
                font-weight: $font-weight-bold;
            }
        }

        a.elem:hover {
            text-decoration: underline;
        }
    }
}

.content-after-breadcrumb {
    margin-top: $breadcrumb-height;
}
