@use "fonts";

@tailwind base;
@tailwind components;
@tailwind utilities;
// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

:root {
    --primary-disabled: #ffb38b;
    --primary: #F78E57;
    --primary-hovered: #e26b2c;

    --white: #FFFFFF;
    --white-hovered: #F2F2F2;

    // Other brands main colors
    --steam-darker-blue: #171a21;
    --steam-dark-blue: #1b2838;
    --steam-regular-blue: #2a475e;
    --steam-light-blue: #66c0f4;
    --steam-light-grey: #c7d5e0;
}

$border-width: .25rem;
$blur-radius: 8px;
$section-vertical-padding: 2rem;

$breakpoints: (
    "phone-down": 500px,
    "tablet-up": 768px,
    "tablet-down": 900px,
    "desktop-up": 1024px,
    "desktop-down": 1280px,
    "large-desktop-up": 1440px,
    "large-desktop-down": 1600px
);

@mixin breakpoint($breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

body {
    font-family: "Proxima Nova Regular", sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Proxima Nova Bold", sans-serif;
    font-weight: lighter !important;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .75rem;
}

.container {
    margin: 0 auto;
}

.custom-container {
    margin: 0 auto;
    width: 100%;
    max-width: calc(100% - 2rem);

    @each $breakpoint, $size in $breakpoints {
        @include breakpoint($breakpoint) {
            max-width: calc(#{$size} - #{$size} * 0.05);
        }
    }
}

.section-title {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Proxima Nova Black", sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 1rem;

    @include breakpoint("desktop-up") {
        font-size: 2rem;
    }
}

section {
    padding: $section-vertical-padding 0;
}

.bg-primary {
    background-color: var(--primary);
    color: white;
}

.btn {
    font-family: "Proxima Nova Bold", sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    line-height: 1rem;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    padding: .5rem .75rem;
    background-color: var(--primary);
    color: white;
    transition: all .2s ease-in-out;
    width: fit-content;

    &:hover {
        background-color: var(--primary-hovered);
        color: white;
    }

    &:disabled {
        background-color: var(--primary-disabled);
        color: white;
    }

    &.square {
        border-radius: 0;
        font-family: "Proxima Nova Black", sans-serif;
        font-weight: lighter;
    }
}

.btn-white {
    background-color: var(--white);
    color: var(--primary);

    &:hover {
        background-color: var(--white-hovered);
        color: var(--primary-hovered);
    }

    &:disabled {
        background-color: var(--white);
        color: var(--primary-disabled);
    }
}
