@use "fonts";

@tailwind base;
@tailwind components;
@tailwind utilities;
// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

:root {
    --primary-disabled: #ffb38b;
    --primary: #F78E57;
    --primary-hovered: #e26b2c;

    --white: #FFFFFF;
    --white-hovered: #f3f4f6;

    --black: #000000;

    --dark: #1f2937;
    --dark-hovered: #4b5563;

    --light: #e5e7eb;
    --light-hovered: #d1d5db;

    // Other brands main colors
    --steam-darker-blue: #171a21;
    --steam-dark-blue: #1b2838;
    --steam-regular-blue: #2a475e;
    --steam-light-blue: #66c0f4;
    --steam-light-grey: #c7d5e0;
}

$border-width: .25rem;
$blur-radius: 8px;
$section-vertical-padding: 2rem;

$breakpoints: (
    "phone-down": 500px,
    "tablet-up": 768px,
    "tablet-down": 900px,
    "desktop-up": 1024px,
    "desktop-down": 1280px,
    "large-desktop-up": 1440px,
    "large-desktop-down": 1600px
);

@mixin breakpoint($breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

// scroll bar pour chromium
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: var(--light);
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-hovered);
}

html {
    // scroll bar pour firefox
    scrollbar-color: var(--primary) var(--light);
    scrollbar-width: thin;
}


body {
    font-family: "Proxima Nova Regular", sans-serif !important;
    color: var(--black);
}

p {
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Proxima Nova Bold", sans-serif;
    font-weight: lighter !important;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .75rem;
}

.font-black {
    font-family: "Proxima Nova Black", sans-serif;
}

.container {
    margin: 0 auto;
}

.custom-container {
    margin: 0 auto;
    width: 100%;
    max-width: calc(100% - 2rem);

    @each $breakpoint, $size in $breakpoints {
        @include breakpoint($breakpoint) {
            max-width: calc(#{$size} - #{$size} * 0.05);
        }
    }
}

.section-title {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Proxima Nova Black", sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 1rem;

    @include breakpoint("desktop-up") {
        font-size: 2rem;
    }
}

section {
    padding: $section-vertical-padding 0;
}

.notice-text {
    font-family: "Proxima Nova Black", sans-serif;
    text-transform: uppercase;
    background-color: var(--primary);
    color: white;
    padding: 0 .5rem;
    width: fit-content;
}
