@use "fonts";

@tailwind base;
@tailwind components;
@tailwind utilities;
// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

:root {
    --primary-orange: #F78E57;

    // Other brands main colors
    --steam-darker-blue: #171a21;
    --steam-dark-blue: #1b2838;
    --steam-regular-blue: #2a475e;
    --steam-light-blue: #66c0f4;
    --steam-light-grey: #c7d5e0;
}

$border-width: .25rem;
$blur-radius: 8px;

$breakpoints: (
    "phone-down": 500px,
    "tablet-up": 768px,
    "tablet-down": 900px,
    "desktop-up": 1024px,
    "desktop-down": 1280px,
    "widescreen-up": 1440px
);

@mixin breakpoint($breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

body {
    font-family: "Proxima Nova Regular", sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Proxima Nova Bold", sans-serif;
    font-weight: lighter !important;
}
