@use "base";
@use "fontawesome/fontawesome";
@use "fontawesome/brands";
//@use "fontawesome/duotone";
@use "fontawesome/light";
@use "fontawesome/regular";
@use "fontawesome/solid";
//@use "fontawesome/thin";

body{

}

// Navbar
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 1000;
    user-select: none;

    .leftPart{
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1rem;

        .logo{
            font-family: "Zaptron-Regular", sans-serif;
            color: white;
            font-size: 4rem;
            line-height: 1;
            height: 3.2rem;
            padding-right: .5rem;
            border-right: solid 3px white;
        }

        .navLinks{
            ul{
                list-style-type: none;
                padding: 0;
            }
            ul li{
                display: inline-block;
                margin: 0 .25rem;
            }
            a{
                color: white;
                text-decoration: none;
                font-weight: bold;
                padding: .4rem 0;
                transition: margin 500ms ease-out;

                &:not(.circle){
                    &:hover{
                        @extend .active;
                        position: relative;
                        //animation: 1s ease-in 0s startHover;
                        &:before{
                            content: "";
                            position: absolute;
                            left: -20px;
                            bottom: 0;
                            width: 20px;
                            height: 100%;
                            background-color: white;
                            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
                        }
                        &:after{
                            content: "";
                            position: absolute;
                            right: -20px;
                            bottom: 0;
                            width: 20px;
                            height: 100%;
                            background-color: white;
                            clip-path: polygon(0 0, 0 100%, 100% 0);
                        }
                    }
                }
            }

            .active{
                color: var(--primaryOrange);
                background-color: white;
                padding: .4rem;
                margin: 0 .25rem;
                &:not(.circle){
                    margin: 0 1rem;
                }

                a{
                    color: var(--primaryOrange);
                }
            }
            .active.circle{
                border-radius: 50%;
                clip-path: none;
            }
        }
    }

    .rightPart{
        background-color: var(--secondaryOrange);
        clip-path: polygon(100% 0, 100% 85%, 30% 100%, 0 50%, 30% 0);

        .linksContainer{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            margin: 1rem 1rem 1rem 3rem;
            height: 3.2rem;

            &>*{
                margin: 0 .5rem;
            }

            a{
                color: white;
                font-weight: bold;
                text-decoration: none;
            }
            a:hover{
                color: white;
            }

            #navUserProfile{
                .disconnected{
                    font-size: 1.2rem;
                }
            }
        }
    }
}

// Animation
@keyframes startHover{
    from{
        padding: 0;
    }
    to{
        padding: .5rem;
    }
}
// Fin Navbar

// Vitrine
.vitrine{
    height: 100vh;
    width: 100%;
    background-color: var(--primaryOrange);
    user-select: none;
    z-index: 0;

    #backgroundVideo{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
        }

        #videoOverlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--primaryOrange);
            opacity: 0.8;
            z-index: 2;
        }
    }

    .content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        display: flex;
        flex-direction: row;
        align-items: center;

        .text-content{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            color: white;

            &>*{
                margin: 0 5rem;
            }

            .title{
                display: flex;
                flex-direction: column;
                font-family: "Proxima Nova Black", sans-serif;
                text-transform: uppercase;

                .first{
                    font-size: 1.8rem;
                    font-weight: bold;
                    margin-bottom: .25rem;
                }
                .second{
                    font-size: 5rem;
                    font-weight: bold;
                    margin-bottom: .25rem;
                }
            }
            .description{
                font-size: 1.6rem;
                p{
                    margin: 0;
                    line-height: 1.2;
                }
            }
        }

        .projectsForms{
            position: relative;
            height: 43rem;
            width: 50rem;

            .projectForm{
                position: absolute;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

            .first{
                top: 11rem;
                left: 0;
                width: 15rem;
                height: 12rem;
                clip-path: polygon(100% 25%, 79% 100%, 25% 86%, 0 50%, 46% 0);
                background-image: url("../images/vitrine/Station service Désert.jpg");
                background-position: left;
            }

            .second{
                top: 8rem;
                left: 16rem;
                width: 19rem;
                height: 21rem;
                clip-path: polygon(10% 20%, 61% 0, 99% 28%, 100% 79%, 49% 100%, 0 73%);
                background-image: url("../images/vitrine/Lifeinvaders square.jpg");
            }
            .third{
                top: 0;
                right: 2rem;
                width: 17rem;
                height: 13rem;
                clip-path: polygon(31% 0, 83% 1%, 100% 79%, 31% 100%, 0 41%);
                background-image: url("../images/vitrine/Mairie Rosewood.jpg");
            }
            .fourth{
                bottom: 0;
                left: 4rem;
                width: 18rem;
                height: 18rem;
                clip-path: polygon(45% 0, 100% 36%, 83% 100%, 10% 93%, 0 26%);
                background-image: url("../images/vitrine/Motel Starisland.jpg");
            }
            .fifth{
                bottom: 0rem;
                right: 11rem;
                width: 16rem;
                height: 14.5rem;
                clip-path: polygon(75% 0, 100% 50%, 71% 100%, 0 90%, 10% 28%);
                background-image: url("../images/vitrine/Rockford Atlas.jpg");
            }
            .sixth{
                bottom: 14rem;
                right: 0.5rem;
                width: 13rem;
                height: 13rem;
                clip-path: polygon(93% 0, 100% 64%, 68% 100%, 5% 74%, 0 3%);
                background-image: url("../images/vitrine/Commissariat Rosewood.jpg");
            }
        }
    }
}

.transitionVitrine{
    width: 100%;
    position: relative;
    height: 16rem;
    margin-top: -8rem; // 50% de la hauteur
    background-color: var(--secondaryOrange);
    clip-path: polygon(100% 14%, 91% 0, 83% 22%, 75% 19%, 65% 31%, 56% 29%, 51% 34%, 42% 32%, 36% 36%, 30% 33%, 20% 42%, 10% 36%, 0 50%, 0 86%, 6% 94%, 13% 86%, 19% 96%, 30% 88%, 41% 96%, 48% 86%, 55% 94%, 71% 97%, 82% 85%, 93% 100%, 100% 89%);
    z-index: 5;
}
