// scroll bar pour chromium
::-webkit-scrollbar {
    width: .75rem;
}

::-webkit-scrollbar-track {
    background: $light;
}

::-webkit-scrollbar-thumb {
    background: $primary;
}

::-webkit-scrollbar-thumb:hover {
    background: $primary-hovered;
}

html {
    // scroll bar pour firefox
    scrollbar-color: $primary $light;
    scrollbar-width: thin;
}

a {
    text-decoration: none;
}

small {
    font-size: 0.75em;
}
