footer{
    width: 100%;
    background-color: var(--primaryOrange);
    color: white;

    a{
        color: white;
        text-decoration: none;
    }
    .container{
        display: flex;
        align-items: flex-start;
        padding: 2rem 0;

        .col{
            width: 100%;
            padding-right: 1rem;

            .logo {
                font-family: "Zaptron-Regular", sans-serif;
                font-size: 4rem;
            }
            ul, ol, li{
                padding: 0;
            }
            ol, li{
                &:not(:last-child){
                    margin-bottom: .75rem;
                }
            }
        }
    }
}
